<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一覧 - Kotan</title>
</head>
<body>
    <h1>商品一覧</h1>
    <!-- 担当者: D -->
    <!-- 目的: データベースから取得した商品のリスト表示 -->
    <!-- 補足: Controllerから渡された商品のリストをth:eachでループさせ、一覧としてきれいに表示してください。 -->
	<li th:each="product : ${products}">
	    <a th:href="'/product/' + ${product.id}">
	        [[${product.name}]]
	        （[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]円）
	    </a>
	</li>
	
    <a th:href="@{/}">ホームへ戻る</a>
</body>
</html>
