<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー登録</title>
</head>
<body>

<h1>ユーザー登録</h1>

<form th:action="@{/register}" th:object="${registerForm}" method="post">

    <div>
        名前:
        <input type="text" th:field="*{displayName}">
        <p th:errors="*{displayName}"></p>
    </div>

    <div>
        Email:
        <input type="email" th:field="*{email}">
        <p th:errors="*{email}"></p>
    </div>

    <div>
        Password:
        <input type="password" th:field="*{password}">
        <p th:errors="*{password}"></p>
    </div>

    <button type="submit">登録</button>

</form>

<a th:href="@{/login}">ログインへ</a>

</body>
</html>