<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

    <!-- 商品一覧 -->
    <select id="findAll" resultType="com.example.demo.entity.Product">
        SELECT
            id,
            category_id,
            name,
            description,
            price,
            image_url,
            item_type,
            stock,
            growth_days,
            weight
        FROM products
    </select>

    <!-- 商品詳細 -->
    <select id="findById" parameterType="Integer" resultType="com.example.demo.entity.Product">
        SELECT
            id,
            category_id,
            name,
            description,
            price,
            image_url,
            item_type,
            stock,
            growth_days,
            weight
        FROM products
        WHERE id = #{id}
    </select>


</mapper>